<div>
    <h1 class="page-header">Employee Home</h1>

    <div class="row placeholders">
        <div class="col-xs-12 col-sm-4 placeholder">
            <img src="http://placehold.it/200x200/0D8FDB/000" class="img-responsive" alt="Generic placeholder thumbnail">
            <br />
            <span class="text-muted">Total Employees</span>
        </div>
        <div class="col-xs-12 col-sm-4 placeholder">
            <img src="http://placehold.it/200x200/39DBAC/000" class="img-responsive" alt="Generic placeholder thumbnail">
            <br />
            <span class="text-muted">Recently Joined</span>
        </div>
        <div class="col-xs-12 col-sm-4 placeholder">
            <img src="http://placehold.it/200x200/0D8FDB/000" class="img-responsive" alt="Generic placeholder thumbnail">
            <br />
            <span class="text-muted">Next Holiday</span>
        </div>
    </div>

    <h4 class="sub-header">Favorite links</h4>
    <a href="#">Add Employee</a>
    <br />
    <a href="#">Search</a>

</div>